<div class="well">
  <h3>{{product.name}}</h3>
  <h4> <img src="/assets/images/credit.png" alt="credit" class="credit" /> {{product.price}}</h4>
  <img src={{product.image}} alt="{{product.name}}" class="img-responsive"/>
  <h5>{{product.rating}}</h5>
  <p>
    {{product.description}}
  </p>
  <button {{action 'addToCart' product}} class="btn">Add to Cart</button>
</div>
